

<%= render partial: "layouts/error", locals: { object: @brand } %>

<%= form_for(@brand) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
  <h3>Add Shoes:</h3>
  <%= f.fields_for :shoes do |s| %>
    <%= s.label :price %>
    <%= s.number_field :price, step: 0.01%><br/>
    <%= s.label :condition %>
    <%= s.text_field :condition %><br/>
    <%= s.label :color %>
    <%= s.text_field :color  %><br/>
    <hr>
  <% end %>
  <%= f.submit %>
  <% end %>